<?php
/** @var Breeds $viewModel */
$viewModel = $block->getViewModel();
$returnedBreed = $viewModel->getBreed();

use Gamma\Dogs\ViewModel\Breeds; ?>


<div class="breeds">
    <div class="left">
        <h2>List of Breeds</h2>
        <br>
        <ul>
            <?php foreach ($viewModel->getList() as $breed) { ?>
                <li><a href="http://itp.gammapartners.com/dogs/breeds/index/breed/<?= $breed ?>"><?= ucfirst($breed) ?></a></li> <?php } ?>
        </ul>
    </div>
    <div class="right">
        <?php if ($returnedBreed) { ?>
            <h3><?= $returnedBreed->getName() ?></h3>
            <br>
            <img src="<?= $returnedBreed->getImage() ?>" alt="Breed Image">
            <br>
            <h3>Sub-Breeds</h3>
            <ul>
            <?php $subBreeds = $returnedBreed->getSubBreeds();
                if(!empty($subBreeds)) { ?>
                    <?php foreach ($subBreeds as $subBreed) { ?>
                        <li><?= ucfirst($subBreed) ?></li>
                    <?php } ?>
                <?php } else{
                    ?>
                    <li>No Sub-Breeds</li>
                    <?php
                }
                ?>
            </ul>
            <?php $books = $returnedBreed->getBooks();
            if(!empty($books)){?>
                <h3>Books</h3>
                <?php foreach ($books as $book) { ?>
                    <div class="book">
                        <div class="left">
                            <p><?= $book->getTitle() ?></p>
                            <h5><?= $book->getAuthor() ?></h5>
                            <h5>ID: <?= $book->getId() ?></h5>
                            <a href="<?= $book->getLink() ?>">Get book</a>
                        </div>
                        <div class="right">
                            <img src="<?= $book->getImage() ?>" alt="Book Image" width="100%">
                        </div>
                    </div>
                <?php } ?>
            <?php }?>
        <?php } ?>
    </div>
</div>